<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery 추가 -->
</head>
<body>
<h1>회원가입</h1>
<form id="registerForm">
    <div>
        <label for="id">계정 ID:</label>
        <input type="text" id="id" name="id" required />
    </div>
    <div>
        <label for="companyType">사업자구분값:</label>
        <input type="text" id="companyType" name="companyType" required />
    </div>
    <div>
        <label for="companyName">거래처명:</label>
        <input type="text" id="companyName" name="companyName" required />
    </div>
    <div>
        <label for="companyRegNumber">사업자등록번호:</label>
        <input type="text" id="companyRegNumber" name="companyRegNumber" required />
    </div>
    <div>
        <label for="phoneNumber">대표 연락처:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" required />
    </div>
    <div>
        <label for="email">대표 이메일:</label>
        <input type="email" id="email" name="email" required />
    </div>
    <div>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <button id="registerButton" type="submit">회원가입</button>
</form>
<div>
    <a th:href="@{/view/login}">이미 회원이신가요? 로그인하기</a>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#registerButton').click(function(event) {
            event.preventDefault(); // 폼 제출을 막음

            var registerData = {
                id: $('#id').val(),
                companyType: $('#companyType').val(),
                companyName: $('#companyName').val(),
                companyRegNumber: $('#companyRegNumber').val(),
                phoneNumber: $('#phoneNumber').val(),
                email: $('#email').val(),
                password: $('#password').val()
            };

            $.ajax({
                type: 'POST',
                url: '/user/register',
                contentType: 'application/json',
                data: JSON.stringify(registerData),
                success: function(response) {
                    console.log('회원가입 성공:', response);
                    window.location.href = '/view/login'; // 회원가입 성공 시 /view/login 페이지로 이동
                },
                error: function(xhr, status, error) {
                    console.error('회원가입 실패:', xhr.responseText);
                    alert('회원가입 실패: ' + xhr.responseText);
                }
            });
        });
    });
</script>
</body>
</html>
