<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="../css/layout.css" rel="stylesheet" type="text/css" />
    <link href="../css/contents.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 7]>
    <link href="../css/ie.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>


<body class="test_min_width">

<!-- sub title -->
<div class="subtitle-box">
    <h2 class="subtitle">
        회원정보관리

    </h2>
    <!-- 타이틀이 있는 sub_button -->
    <div class="title_btn_right">
        <span class="btn_basic btn_reset"><a href="#">Reset</a></span>
        <span class="btn_basic btn_sch"><a href="#">검색</a></span>
        <span class="btn_basic btn_save"><a href="#">저장</a></span>
    </div>
</div>

<!-- block 여기가 내용이 들어가는 본문 시작 -->
<div class="frame_contents">

    <!-- section 시작 -->
    <div class="section">
        <h3>회원정보조회</h3>
        <!-- table 영역 -->
        <div class="table_box_sch">
            <table class="tbl_Sch">
                <caption>검색조건</caption>
                <colgroup>
                    <col width="16.5%"/>
                    <col width="16.5%"/>
                    <col width="16.5%"/>
                    <col width="16.5%"/>
                    <col width="16.5%"/>
                    <col width="16.5%"/>
                </colgroup>
                <tr>
                    <th scope="row"><label  >회원 ID</label></th>
                    <td>
                        <input id="id" name="Input" type="text" class="id" value="" />
                    </td>
                    <th scope="row"><label  >업체명</label></th>
                    <td>
                        <input id="companyName" name="Input" type="text" class="name" value="" />
                    </td>
                    <th scope="row"><label  >가입일</label></th>
                    <td colspan="3">
                        <input name="Input" type="text" class="date" value="" />
                        <a href="#"><img src="../img/contents/ico_calendar.png" class="img_ic" align="absbottom" alt="달력제어" /></a>
                        ~
                        <input name="Input" type="text" class="date" value="" />
                        <a href="#"><img src="../img/contents/ico_calendar.png" class="img_ic" align="absbottom" alt="달력제어" /></a>
                    </td>

                </tr>
                <tr>
                    <th scope="row"><label  >사업자구분</label></th>
                    <td>
                        <select>
                            <option>전체</option>
                            <option>법인</option>
                            <option>개인</option>
                            <option>기타</option>
                        </select>
                    </td>

                    <th scope="row"><label  >사업자등록번호</label></th>
                    <td>
                        <input id="CompanyRegNumber" name="Input" type="text" class="name" value="" />
                    </td>

                    <th scope="row"><label  >대표연락처</label></th>
                    <td>
                        <input name="Input" type="text" class="name" value="" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- section 종료 -->

    <!-- section 시작 -->
    <div class="section">
        <!-- table 영역 -->
        <div class="table-box grid_wrap grid_height_s"><!-- grid가 들어갈경우 grid_wrap추가 -->
            <!-- grid높이 grid_height_s: 5라인, grid_height_l: 10라인, grid_height_100:높이 100px, grid_height_200: 높이 200px, grid_height_line_15: 15라인, grid_height_line_20: 20라인, 높이단이 더 필요하면 요청주세요. -->
            <table class="tbl_List">
                <caption>리스트</caption>
                <thead>
                <tr>
                    <th>No</th>
                    <th>회원번호</th>
                    <th>회원ID</th>
                    <th>업체명</th>
                    <th>사업자구분</th>
                    <th>사업자등록번호</th>
                    <th>대표연락처</th>
                    <th>대표이메일</th>
                    <th>가입일시</th>
                </tr>
                </thead>
                <tbody id="userList">
                <tr th:each="user : ${users}" class="select">
                    <td th:text="${user.seq}"></td>
                    <td th:text="'00' + ${user.seq}"></td>
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.companyName}"></td>
                    <td th:text="${user.companyType}"></td>
                    <td th:text="${user.companyRegNumber}"></td>
                    <td th:text="${user.phoneNumber}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${#temporals.format(user.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>


                </tr>
                </tbody>
            </table>
        </div>

        <div class="space5"></div>

        <div class="total-records">
            (총 <span th:text="${totalItems}">0</span> 건)
        </div>

        <div class="space1"></div>
        <!-- Container for total records and pagination -->
        <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px;">




            <!-- Pagination controls (centered) -->
            <div class="tablepaging-box" style="display: inline-block; margin: 0 auto;">
                <ul class="board-paging" style="list-style: none; padding: 0; display: flex; justify-content: center; gap: 5px;">

                    <!-- First page button -->
                    <li class="nobrd navbtn" th:classappend="${currentPage == 0} ? 'disabled'">
                        <a href="#" class="pagination-button" th:data-page="0">
                            <img src="../img/contents/ic-paging-left-start.gif" border="0" align="absmiddle"/>
                        </a>
                    </li>

                    <!-- Previous page button -->
                    <li class="nobrd navbtn" th:classappend="${currentPage == 0} ? 'disabled'">
                        <a href="#" class="pagination-button" th:data-page="${currentPage - 1}" th:unless="${currentPage == 0}">
                            <img src="../img/contents/ic-paging-left.gif" border="0" align="absmiddle"/>
                        </a>
                    </li>

                    <!-- Dynamic page numbers, apply the active-page class to the anchor tag -->
                    <li th:each="i : ${#numbers.sequence((currentPage - 1 > 0 ? currentPage - 1 : 0), (currentPage + 1 < totalPages ? currentPage + 1 : totalPages - 1))}">
                        <a href="#" class="pagination-button"
                           th:data-page="${i}"
                           th:classappend="${i == currentPage} ? 'active-page' : ''"
                           th:text="${i + 1}">
                        </a>
                    </li>


                    <!-- Next page button -->
                    <li class="nobrd navbtn" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
                        <a href="#" class="pagination-button" th:data-page="${currentPage + 1}" th:unless="${currentPage + 1 >= totalPages}">
                            <img src="../img/contents/ic-paging-right.gif" border="0" align="absmiddle"/>
                        </a>
                    </li>

                    <!-- Last page button -->
                    <li class="nobrd navbtn" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
                        <a href="#" class="pagination-button" th:data-page="${totalPages - 1}" th:unless="${currentPage + 1 >= totalPages}">
                            <img src="../img/contents/ic-paging-right-end.gif" border="0" align="absmiddle"/>
                        </a>
                    </li>
                </ul>
            </div>

        </div>




    </div>
    <!-- section 종료 -->

    <!-- section 시작 -->
    <div class="section">
        <h3>회원기본정보</h3>
        <!-- table 영역 -->
        <div class="table-box">
            <table class="tbl_Form">
                <caption>상세내역</caption>
                <colgroup><col width="90px"/><col width="*"/><col width="80px"/><col width="*"/><col width="80px"/><col width="*"/><col width="100px"/><col width="*"/></colgroup>
                <tr>
                    <th scope="row"><label  >회원번호</label></th>
                    <td id="user-seq"></td>
                    <th scope="row"><label  >회원ID</label></th>
                    <td id="user-id"></td>
                    <th scope="row"><label  >업체명</label></th>
                    <td id="user-companyName" colspan="3"></td>
                </tr>
                <tr>

                    <th scope="row"><label  >사업자구분</label></th>
                    <td id="user-companyType"></td>
                    <th scope="row"><label>사업자등록번호</label></th>
                    <td id="user-companyRegNumber"></td>
                    <th scope="row"><label  >대표연락처</label></th>
                    <td colspan="3" >
                        <input id="user-phoneNumber" name="Input" type="text" />
                        <span class="btn_table_in"><a href="#" id="check-phoneNumber-btn">중복검사</a></span>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label  >대표이메일</label></th>
                    <td><input id="user-email" name="Input" type="text" class="email_l" value="gildong@naver.com" /></td>
                    <th scope="row"><label  >가입일시</label></th>
                    <td id="user-regDate"></td>
                    <th scope="row"><label  >비밀번호</label></th>
                    <td colspan="3">
                        <span class="btn_table_in"><a href="#" id="reset-password-btn">초기화</a></span>

                        ※ 회원 이메일로 임의의 비밀번호가 발송됩니다.
                    </td>

                </tr>

            </table>
        </div>
    </div>
    <!-- section 종료 -->


    <!-- section 시작 -->
    <div class="section">
        <h3>약관동의 이력</h3>
        <!-- table 영역 -->
        <div class="table-box grid_wrap"><!-- grid가 들어갈경우 grid_wrap추가 -->
            <!-- grid높이 grid_height_s: 5라인, grid_height_l: 10라인, grid_height_100:높이 100px, grid_height_200: 높이 200px, grid_height_line_15: 15라인, grid_height_line_20: 20라인, 높이단이 더 필요하면 요청주세요. -->
            <table class="tbl_List" summary="약관유형, Maeil Do이용약관(필수),개인정보수집 및 이용동의(필수),개인정보 제3자제공동의(선택)-Mail Do, 매일유업(주),(주)제로투세븐, 상하농원(유),폴 바셋, 크리스탈 제이드, 더키친살바토레">
                <caption>약관동의 이력</caption>
                <thead>
                <tr>
                    <th>No</th>
                    <th>약관유형</th>
                    <th>버전</th>
                    <th>동의일자</th>
                    <th>동의시간</th>
                    <th>동의여부</th>
                    <th>등록자(업체)</th>
                    <th>등록일시</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- section 종료 -->

    </div>


    <!-- ################### 화면내 탭 처리 화면 전부 처리 ################### -->



    <div class="space20"></div><!-- 하단 공간확보용 -->

</div>
<!-- block 여기가 내용이 들어가는 본문 종료 -->
<!-- script -->
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/hana-cont.js"></script>
<!--
<script type="text/javascript" src="../js/default.js"></script>
<script type="text/javascript">
function setPng24(obj) {
    obj.width=obj.height=1;
    obj.className=obj.className.replace(/\bpng24\b/i,'');
    obj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+ obj.src +"',sizingMethod='image');"
    obj.src='';
    return '';
}
</script>
-->

<script type="text/javascript">
    $(document).ready(function() {
        // 비밀번호초기화 버튼 클릭 이벤트
        $('#reset-password-btn').click(function(event) {
            event.preventDefault(); // 기본 링크 동작을 막음

            // 필요한 파라미터 값 추출
            const email = $('#user-email').val();

            // Add console logs to see what values are being used
            console.log("Extracted Email: ", email);

            if (!email) {
                alert("사용자 email을 확인 하세요.");
                return;
            }

            // API로 전송할 데이터
            const requestData = {
                email: email
            };

            // 비밀번호 초기화 API 호출
            $.ajax({
                url: '/user/find-password',  // Use the full URL
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(requestData),  // 데이터를 JSON 형식으로 전송
                success: function(response) {
                    console.log("email : " + email)
                    if (response.result === 'Y') {
                        alert("임시 비밀번호가 이메일로 전송되었습니다.");
                    } else {
                        alert("사용자 정보를 찾을 수 없습니다.");
                        console.log("Email not found: ", response);
                    }
                },
                error: function(xhr, status, error) {
                    console.log("Error Status: ", status);
                    console.log("XHR Object: ", xhr);
                    console.log("Error Thrown: ", error);

                    alert("비밀번호 초기화 중 오류가 발생했습니다.");
                    console.log("오류 정보:", status, error);
                }
            });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.btn_sch a').click(function(event) {
            event.preventDefault(); // 기본 동작 막기

            const companyRegNumber = $('#CompanyRegNumber').val().trim();
            const id = $('#id').val().trim();
            const companyName = $('#companyName').val().trim();

            // Constructing data object dynamically to omit empty values
            const queryData = {};
            if (companyRegNumber) queryData.companyRegNumber = companyRegNumber;
            if (id) queryData.id = id;
            if (companyName) queryData.companyName = companyName;

            // Send data only if there are values
            $.ajax({
                url: '/user/search',
                type: 'GET',
                data: queryData,  // send only the fields that have values
                success: function(response) {
                    if (response && response.users.length > 0) {
                        // 기존 tbody 비우기
                        const userList = $('tbody[name="userList"]');
                        userList.empty();

                        // 새 데이터를 동적으로 추가
                        response.users.forEach(user => {
                            const newRow = `
                            <tr class="select">
                                <td>${user.id}</td>
                                <td>${user.role}</td>
                                <td>${user.companyType}</td>
                                <td>${user.companyName}</td>
                                <td>${user.companyRegNumber}</td>
                                <td>${user.phoneNumber}</td>
                                <td>${user.email}</td>
                                <td>${user.active}</td>
                                <td style="display:none">${user.seq}</td>
                            </tr>`;

                            userList.append(newRow);
                        });
                    } else {
                        alert("일치하는 사용자 정보가 없습니다.");
                    }
                },
                error: function(xhr, status, error) {
                    alert("조회 중 오류가 발생했습니다.");
                }
            });
        });
    });


</script>
<script type="text/javascript">
    $(document).ready(function() {
        // Reset 버튼 클릭 이벤트
        $('.btn_reset a').click(function(event) {
            event.preventDefault(); // 기본 동작 막기

            // 테이블 내의 모든 인풋 요소 선택
            $('.tbl_Sch input').each(function() {
                $(this).val(''); // 각 인풋의 값을 빈 문자열로 설정
            });

            // 선택 박스도 초기화 (필요 시)
            $('.tbl_Sch select').each(function() {
                $(this).prop('selectedIndex', 0); // 첫 번째 옵션으로 설정
            });
        });
    });
</script>

</body>
</html>
